{
  "extends": [
    "plugin:prettier/recommended",
    "airbnb-typescript/base",
    "prettier",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/prop-types": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0
  }
}
